@{
    ViewData["Title"] = "CrearCertificadoJoyeria";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
@model Certificado2.Modelos.Joyeria

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <!-- Tarjeta principal -->


            <div class="card shadow-lg">
                <div class="card-header bg-primary text-white">
                    <h4 class="card-title text-center">Crear un certficado de Joyería</h4>
                </div>

                <div class="card-body">
                    <form asp-action="CrearCertificadoJoyeria" method="post" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label asp-for="IdCertificador" class="form-label"></label>
                            <select asp-for="IdCertificador" class="form-select" name="IdCertificador" id="IdCertificador">
                                <option value="">Seleccione al certificador</option>
                                @if (ViewBag.IdCertificador != null)
                                {
                                    foreach (Certificado2.Modelos.Certificadores item in ViewBag.IDCertificador)
                                    {
                                        <option value="@item.Id">@item.RazonSocial</option>
                                    }
                                }
                            </select>
                            <span asp-validation-for="IdCertificador" class="text-danger"></span>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="objeto" class="form-label">Objeto</label>
                                <input type="text" name="Objeto" class="form-control" id="Objeto" value="@Model.Objeto">
                            </div>
                            <div class="col-md-6">
                                <label for="material" class="form-label">Material</label>
                                <input type="text" name="Material" class="form-control" id="Material" value="@Model.Material">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="estado" class="form-label">Estado del objeto</label>
                                <input type="text" name="Estado" class="form-control" id="Estado" value="@Model.Estado">
                            </div>
                            <div class="col-md-6">
                                <label for="marca" class="form-label">Marca</label>
                                <input type="text" class="form-control" id="marca" name="Marca" value="@Model.Marca">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-12">
                                <label for="observacion" class="form-label">Observación</label>
                                <textarea class="form-control" name="Observacion" id="Observacion" rows="3">@Model.Observacion</textarea>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="fecha" class="form-label">Fecha</label>
                                <input type="date" class="form-control" id="fecha" value="@Model.fecha.ToString("dd/MM/yyyy")" disabled>
                            </div>
                            <div class="col-md-6">

                                <input type="hidden" class="form-control" id="certificador" value="@Model.IdCertificador" disabled>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Foto" class="form-label">Foto del Certificado</label>
                            <input asp-for="Foto" type="file" name="Foto" id="Foto" class="form-control" />
                            <div class="text-danger small">
                                <span asp-validation-for="Foto"></span>
                            </div>
                        </div>
               
                        <div class="card-footer text-center">
                            <div class="d-grid gap-2">
                                <button type="submit" class="btn btn-primary btn-lg">Guardar Certificado</button>
                            </div>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>
