@{
    ViewData["Title"] = "CrearCertificadoArtesania";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
@model Certificado2.Modelos.Artesania

<div class="container mt-5" style="padding-top:25px">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <!-- Tarjeta principal -->
            <div class="card shadow-lg">
                <div class="card-header bg-primary text-white">
                    <h4 class="card-title text-center">Crear un certificado de Artesanía</h4>
                </div>

                <div class="card-body">
                    <form asp-action="CrearCertificadoArtesaniaAdmin" method="post" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label asp-for="IDCertificador" class="form-label"></label>
                            <select asp-for="IDCertificador" class="form-select" name="IDCertificador" id="IdCertificador">
                                <option value="">Seleccione al certificador</option>
                                @if (ViewBag.IdCertificador != null)
                                {
                                    foreach (Certificado2.Modelos.Certificadores item in ViewBag.IDCertificador)
                                    {
                                        <option value="@item.Id">@item.RazonSocial</option>
                                    }
                                }
                            </select>
                            <span asp-validation-for="IDCertificador" class="text-danger"></span>
                        </div>


                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="Fabricante" class="form-label">Fabricante</label>
                                <input type="text" name="Fabricante" class="form-control" id="Fabricante" value="@Model.Fabricante" required>
                            </div>

                            <div class="col-md-6">
                                <label for="Descripcion" class="form-label">Descripcion</label>
                                <input type="text" name="Descripcion" class="form-control" id="Descripcion" value="@Model.Descripcion">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="Materiales" class="form-label">Materiales</label>
                                <input type="text" name="Materiales" class="form-control" id="Materiales" value="@Model.Materiales">
                            </div>
                            <div class="col-md-6">
                                <label for="Dimensiones" class="form-label">Dimensiones</label>
                                <input type="text" name="Dimensiones" class="form-control" id="Dimensiones" value="@Model.Dimensiones">
                            </div>
                            <div class="col-md-6">
                                <label for="Peso" class="form-label">Peso</label>
                                <input type="text" name="Peso" class="form-control" id="Peso" value="@Model.Peso">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-12">
                                <label for="Observacion" class="form-label">Observación</label>
                                <textarea class="form-control" name="Observacion" id="Observacion" rows="3">@Model.Observacion</textarea>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="Fecha" class="form-label">Fecha</label>
                                <input type="date" class="form-control" id="Fecha" value="@Model.Fecha.ToString("yyyy-MM-dd")" disabled>
                            </div>
                            <div class="col-md-6">
                                <label for="FechaCreacion" class="form-label">Fecha de creacion</label>
                                <input type="date" class="form-control" id="FechaCreacion" value="@Model.FechaCreacion.ToString("yyyy-MM-dd")">
                            </div>
                            <div class="col-md-6">
                                <input type="hidden" class="form-control" id="IDCertificador" value="@Model.IDCertificador" disabled>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Imagen" class="form-label">Foto del Certificado</label>
                            <input asp-for="Imagen" type="file" name="Imagen" id="Imagen" class="form-control" />
                            <div class="text-danger small">
                                <span asp-validation-for="Imagen"></span>
                            </div>
                        </div>
               

                        <div class="card-footer text-center">
                            <div class="d-grid gap-2">
                                <button type="submit" class="btn btn-primary btn-lg">Guardar Certificado</button>
                            </div>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>
