@{
    ViewData["Title"] = "IndexNumismatica";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@model IEnumerable<Certificado2.Modelos.VMoneda>

@{
    int currentPage = ViewBag.CurrentPage;
    int totalPages = ViewBag.TotalPages;
    int pageSize = ViewBag.PageSize;
}

<div class="container mt-5">
    <h1 class="mb-4">Numismática</h1>

    <!-- Formulario de búsqueda y selección de página -->
    <form method="get" action="@Url.Action("IndexNumismatica")" class="mb-4">
        <div class="form-row align-items-center">
            <div class="col-auto">
                <label class="sr-only" for="pageSize">Elementos por página:</label>
                <select id="pageSize" name="pageSize" class="form-control" onchange="this.form.submit()">
                    <option value="5" @(pageSize == 5 ? "selected" : "")>5</option>
                    <option value="10" @(pageSize == 10 ? "selected" : "")>10</option>
                    <option value="20" @(pageSize == 20 ? "selected" : "")>20</option>
                </select>
            </div>
          
            <div class="col-auto">
                <button type="submit" class="btn btn-primary">Buscar <i class="fa fa-search" aria-hidden="true"></i></button>
            </div>
        </div>
    </form>

    <!-- Tabla de resultados -->
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Serie</th>
                <th>Folio</th>
                <th>Descripcion</th>
                <th>Ceca</th>
                <th>Año de acuñacion</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.fecha.ToShortDateString()</td>
                    <td>@item.Serie</td>
                    <td>@item.Folio</td>
                    <td>@item.Nombre</td>
                    <td>@item.Ceca</td>
                    <td>@item.Ano</td>
                    <td>
                        <a href="@Url.Action("CreatePdf", "Monedas")?Serie=@item.Serie&Folio=@item.Folio" class="btn btn-info">Ver</a>

                    </td>
                </tr>
            }

        </tbody>
    </table>

    <!-- Paginación -->
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            @if (currentPage > 1)
            {
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("IndexNumismatica", new { page = currentPage - 1, pageSize })" aria-label="Anterior">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            }

            @for (int i = 1; i <= totalPages; i++)
            {
                <li class="page-item @(i == currentPage ? "active" : "")">
                    <a class="page-link" href="@Url.Action("IndexNumismatica", new { page = i, pageSize })">@i</a>
                </li>
            }

            @if (currentPage < totalPages)
            {
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("IndexNumismatica", new { page = currentPage + 1, pageSize })" aria-label="Siguiente">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            }
        </ul>
    </nav>
</div>
