<div style="margin-left:10px;margin-right:10px">
    @model Certificado2.Modelos.UsuCertificadores


    @{
        ViewData["Title"] = "Detalles";
        Layout = "_Layout";
    }

    <h1>Detalles</h1>

    <div>
        <h4>Ruta</h4>
        <hr />
        <dl class="row" style="margin-bottom: 15px;">


            <dt class="col-sm-2">
                @Html.Label("Nombre")
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Nombre)
            </dd>
            <dt class="col-sm-2">
                @Html.Label("Username")
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Usuario)
            </dd>
            <dt class="col-sm-2">
                @Html.Label("E-mail")
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="col-sm-2">
                @Html.Label("WhatsApp")
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.WhatsApp)
            </dd>
           
        </dl>
    </div>
    <br>
    <div style="margin-bottom: 15px;">
        <a href="~/Certificadores/ModificarUsuario?id=@Model.Id" class="btn btn-outline-secondary">Editar</a>

        <button type="button" class="btn btn-outline-secondary" onclick="location.href='@Url.Action("ListaUsuarios", "Certificadores", new{Certificador= Model.IdCentificador})'">Regresar a la lista</button>
    </div>
</div>



