@model IEnumerable<Certificado2.Modelos.Certificadores>

@{
    Layout = "Certificadores";
}
<form action="~/Certificadores/Crear" method="get">
    <button type="submit" class="nav-link">Agregar certificado</button>
</form>
<div style="margin-left:10px;margin-right:10px">
    <h2>Listado de Certificadores</h2>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Razon Social
                </th>
                <th>
                    Nombre Responsable
                </th>
                <th>
                    Email
                </th>

                <th>
                    Teléfono
                </th>


                <th>
                    Logo
                </th>
                <th>
                    Acciones
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var certificador in Model)
            {
                <tr>
                    <td>
                        @certificador.RazonSocial
                    </td>
                    <td>
                        @certificador.NombreResponsable
                    </td>
                    <td>
                        @certificador.Email
                    </td>

                    <td>
                        @certificador.Telefono
                    </td>

                    <td>
                        @{
                            try
                            {
                                string imagen = Convert.ToBase64String(certificador.Logo);

                                <img src="data:image/jpeg;base64,@imagen" alt="Logo" width="100" />
                            }
                            catch(Exception ewr)
                            {
                                <img src="data:image/jpeg;base64,null" alt="Logo" width="100" />
                            }
                            }
                    </td>

                    <td>
                        <div>
                            <form action="~/Certificadores/ObtenerDetalle" method="get">
                                <input type="hidden" name="id" value="@certificador.Id">
                                <button type="submit" class="nav-link">Detalles</button>
                            </form>
                            <form action="~/Certificadores/Modificar" method="get">
                                <input type="hidden" name="id" value="@certificador.Id">
                                <button type="submit" class="nav-link">Editar</button>
                            </form>
                            <form action="~/Certificadores/Suspender" method="post">
                                <input type="hidden" name="id" value="@certificador.Id">
                                <button type="submit" class="nav-link">Suspender</button>
                            </form>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@* Paginación *@
@if (ViewBag.TotalPages > 1)
{
    <nav id="pagination" aria-label="Page navigation example">
        @if (ViewBag.TotalPages > 1)
        {
            <ul class="pagination justify-content-center">
                @if (ViewBag.CurrentPage > 1)
                {
                    <li class="page-item">
                        <a class="page-link" href="#" data-page="@((int)ViewBag.CurrentPage - 1)">Anterior</a>
                    </li>
                }
                @for (int i = 1; i <= ViewBag.TotalPages; i++)
                {
                    <li class="page-item @(ViewBag.CurrentPage == i ? "active" : "")">
                        <a class="page-link" href="#" data-page="@i">@i</a>
                    </li>
                }
                @if (ViewBag.CurrentPage < ViewBag.TotalPages)
                {
                    <li class="page-item">
                        <a class="page-link" href="#" data-page="@((int)ViewBag.CurrentPage + 1)">Siguiente</a>
                    </li>
                }
            </ul>
        }
    </nav>
}

<script>
    // Manejar clics en los enlaces de paginación
    document.getElementById("pagination").addEventListener("click", function (e) {
        if (e.target.tagName === "A") {
            e.preventDefault();
            var page = parseInt(e.target.getAttribute("data-page"));
            window.location.href = "@Url.Action("Index")" + "?page=" + page;
        }
    });
</script>

