@{
    ViewData["Title"] = "Detalles Usuario";
    Layout = "_Layout";
}


@model Certificado2.UsuarioCertificados

<div class="container mt-5">
    <h2 class="mb-4">Modificar Usuario</h2>
    <form asp-action="ModificarUsuario" method="post">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Información del Usuario</h5>
                <input name="Id" id="Id" value="@Model.Id" type="hidden"/>
                <div class="mb-3">
                    <label asp-for="UserName" class="form-label">Nombre de Usuario</label>
                    <input asp-for="UserName" class="form-control" name="UserName" id="UserName" value="@Model.UserName"/>
                    <div asp-validation-for="UserName" class="invalid-feedback"></div>
                </div>
               

                <div class="mb-3">
                    <label asp-for="Email" class="form-label">Email</label>
                    <input asp-for="Email" class="form-control" name="Email" id="Email" value="@Model.Email" />
                    <div asp-validation-for="Email" class="invalid-feedback"></div>
                </div>

                <div class="mb-3">
                    <label asp-for="PhoneNumber" class="form-label">Teléfono</label>
                    <input asp-for="PhoneNumber" class="form-control" name="PhoneNumber" id="PhoneNumber" value="@Model.PhoneNumber" />
                    <div asp-validation-for="PhoneNumber" class="invalid-feedback"></div>
                </div>

                <div class="mb-3">
                    <label asp-for="NombreCompleto" class="form-label">Nombre Completo</label>
                    <input asp-for="NombreCompleto" class="form-control" name="NombreCompleto" id="NombreCompleto" value="@Model.NombreCompleto" />
                    <div asp-validation-for="NombreCompleto" class="invalid-feedback"></div>
                </div>

                <div class="mb-3">
                    <label asp-for="idcertificador" class="form-label">Certificador</label>
                    <div> @ViewBag.Certificador</div>
                    <input  name="idcertificador" id="idcertificador" value="@Model.idcertificador" type="hidden"/>
                </div>

                <div class="mb-3 form-check">
                    <input asp-for="EmailConfirmed" class="form-check-input" type="checkbox" />
                    <label asp-for="EmailConfirmed" class="form-check-label">Email Confirmado</label>
                </div>

                <div class="mb-3 form-check">
                    <input asp-for="PhoneNumberConfirmed" class="form-check-input" type="checkbox" />
                    <label asp-for="PhoneNumberConfirmed" class="form-check-label">Teléfono Confirmado</label>
                </div>

                <div class="mb-3 form-check">
                    <input asp-for="LockoutEnabled" class="form-check-input" type="checkbox" />
                    <label asp-for="LockoutEnabled" class="form-check-label">Habilitar Lockout</label>
                </div>

                <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                <a href="@Url.Action("DetalleUsuario", "Certificadores", new { id = Model.Id })" class="btn btn-secondary ms-2">Cancelar</a>
            </div>
        </div>
    </form>
</div>


